<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleToDo7.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimpleToDo7.Properties.Settings>
            <setting name="showExitConfirm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showToDoAlerts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="moveCompletedToDos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="allowEditCompleted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="noHeaderTXT" serializeAs="String">
                <value>False</value>
            </setting>
        </SimpleToDo7.Properties.Settings>
    </userSettings>
</configuration>